body {
    text-align: center;
}
.grid {
    width: 650px;
    height: 600px;
    margin: 0 auto;
    margin-top: 70px;
    
}
button {
    vertical-align: middle;
    font-size: 200px;
    width: 200px;
    height: 200px;
}
.xTurn, .yTurn {
    transition-duration: 0.5s;
    visibility: hidden;
}
.letter {
    width: 190px;
    height: 190px;
}
button:hover .xTurn {
    background-color: #f77165;
    color: #491712;
    visibility: visible;
}
button:hover .yTurn {
    background-color: #f1df7f;
    color: #b59900;
    visibility: visible;
}