section .element {
    width: 500px;
    text-align: center;
    display: inline-block;
    height: 100px;
    transition-duration: 0.4s;
    border: #172b4e solid 2px;
    border-radius: 10px;
    margin-bottom: 35px;
}

section .element:hover {
    box-shadow: 15px 15px 5px #0b1527;
    color: #89a7db;
    background-color: #172b4e;
}
section button {
    outline: none;
    color: #ffffff;
    background: none;
    display: inline-block;
   border: none;
    border-radius: 100%;
}

.dropdown-content {
    color: #000000;
    opacity: .6;
    display: inline-block;
    position: relative;
    z-index: 4;
    visibility: hidden;
    background-color: #f9f9f9;
    min-height: 120px;
    min-width: 450px;
    padding: 12px 16px;
    border-radius: 15px;
     box-shadow: 5px 5px 5px;
}
